@charset "UTF-8";
/* function */
/* function End */
/* base-css */
/* 重設實際寬高 */
@media screen and (max-width: 581px ){
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  color: black;
  font-size: 1em;
  font-family: 'Open Sans';
  min-height: 100%;
}

/* Custom Font */
@font-face {
  font-family : 'RalewayMedium';
  src : url('~/resources/Raleway-Medium.ttf');
}
@font-face {
  font-family : 'AvenirMedium';
  src : url('~/resources/Avenir/AvenirLTStd-Roman.otf');
}
@font-face {
  font-family : 'AvenirBook';
  src : url('~/resources/Avenir/AvenirLTStd-Book.otf');
}
@font-face {
  font-family : 'AvenirLight';
  src : url('~/resources/Avenir/AvenirLTStd-Light.otf');
}
@font-face {
  font-family : 'FuturaBTMedium';
  src : url('~/resources/Futura/futura medium bt.ttf');
}
@font-face {
  font-family : 'FuturaBTLight';
  src : url('~/resources/Futura/futura light bt.ttf');
}
@font-face {
  font-family : 'FuturaBTBook';
  src : url('~/resources/Futura/Futura Book font.ttf');
}

/* 清除浮動 */
.clear {
  zoom: 1;
}
.clear:before, .clear:after {
  display: block;
  content: '';
}
.clear:after {
  clear: both;
}

/* 重設實際寬高 End */
/* 文字樣式 */
/* 字體大小 */
.font_12 {
  font-size: 0.75em;
}

.font_16 {
  font-size: 1em;
}

.font_24 {
  font-size: 1.5em;
}

.font_32 {
  font-size: 2em;
}

/* 字體粗細 */
.font_bold {
  font-weight: bold;
}

.font_normal {
  font-weight: normal;
}

/* 字體顏色 */
.error, .red, .orderForm.red a {
  color: #ed2123;
}

.green, .orderForm.green a {
  color: #00aa00;
}

/* 全站超連結樣式 */
a, a:hover {
  display: block;
  color: black;
  text-decoration: none;
}

/* 表單文字 */
label.error {
  position: absolute;
  top: 30px;
  left: 0;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
  font-size: 0.75em;
  line-height: 1.2;
  text-align: left;
  min-height: 30px;
}

/* 訊息框 */
.confirmAlert {
  display: none;
  margin-bottom: 15px;
  padding: 15px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  background-color: #ece7d7;
}

/* 文字樣式 End */
/* 按鈕樣式 */
.btn {
  padding: 5px 20px;
  border: 1px solid #ee9e05;
}
.btn.blue {
  border-radius: 7px;
  font-size: 1em;
  font-family: 'AvenirLight';
  background-color: white;
  color: black;
}
.btn.gray {
  background-color: #848484;
}
.btn.error {
  background-color: #f8d6d6;
}

a.btn {
  display: inline-block;
}
a.btn.blue {
  margin: 15px 0;
}

/* 按鈕樣式 End */
/* 表單樣式 */
textarea, select, input {
  font-size: 1em;
}

textarea {
  padding: 15px !important;
  resize: none;
  text-align: left;
}

input[type="checkbox"], input[type="submit"] {
  cursor: pointer;
  width: initial;
  width: inherit;
}

input {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: left;
  width: 80%;
}

input[type="checkbox"] {
  display: inline-block;
}

input[type="submit"] {
  text-align: center;
  width: 40%;
}

/* 必填樣式 */
input[type="text"].hidden {
  position: absolute;
  top: 0;
  opacity: 0;
  height: 0;
}
input[type="text"].hidden ~ label.error {
  margin-top: 0;
}
input[type="text"].hidden ~ label.error ~ .dropdown, input[type="text"].hidden ~ label.error ~ .dropdown * {
  color: #ed2123;
  background-color: #f8d6d6;
}
input[type="text"].hidden ~ label.error ~ .dropdown {
  -webkit-border-radius: 16px;
  border-radius: 16px;
}

/* 必填樣式 End */
/* 表單樣式 End */
/* 對齊 */
.float_l {
  float: left;
}

.float_r {
  float: right;
}

/* 對齊 End */
/* 限制最大寬度 */
.content {
  margin: 0 auto;
  width: 100%;
}

.main {
  overflow: hidden;
  padding: 15px;
}

/* base-css End */
/* base-css */
/* 分享按鈕 */
.shareIcon li {
  float: left;
  margin-left: 15px;
}
.shareIcon li .icon {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  width: 32px;
}
.shareIcon li .share_01 {
  background-image: url(../img/youtube.png);
}
.shareIcon li .share_02 {
  background-image: url(../img/fb.png);
}
.shareIcon li .share_03 {
  background-image: url(../img/ig.png);
}
.shareIcon li .share_04 {
  background-image: url(../img/twitter.png);
}

/* 分享按鈕 End */
/* 下拉選單 */
.acct {
  min-height: 40px;
}

.acct, .dropdown {
  position: relative;
}

.dropdown input {
  margin: 0;
}

/* acct */
.drop_acct {
  margin: 15px 0;
}
.drop_acct .btn {
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  background-color: #fff;
  line-height: 1.5;
}
.drop_acct .dropdownTog {
  display: block;
}
.drop_acct .dropdownSel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 15px;
  text-align: left;
  width: 100%;
}
.drop_acct .dropdownSel li a {
  overflow: hidden;
  border-style: solid;
  border-color: #b3b3b3;
  border-top-width: 1px;
  line-height: 2;
  text-indent: 5px;
}
.drop_acct .dropdownSel li a span {
  float: left;
}
.drop_acct .dropdownSel li a span:first-child {
  border-style: solid;
  border-color: #b3b3b3;
  border-right-width: 1px;
}
.drop_acct .dropdownSel li.pageAcct {
  border-style: solid;
  border-color: #b3b3b3;
  border-top-width: 1px;
  text-align: center;
}
.drop_acct .dropdownSel li.pageAcct a {
  display: inline-block;
  margin-bottom: -25px;
  padding: 5px;
  border: none;
}

/* acct End */
/* 貨幣+國家 */
.drop_asse {
  display: block;
  position: absolute;
  right: 0;
  overflow: hidden;
  padding-left: 20px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  background-color: #fff;
  line-height: 1.5;
  text-align: left;
}
.drop_asse a {
  display: block;
}
.drop_asse.search .dropWrap input {
  padding-right: 5px;
  width: 100%;
}
.drop_asse.search .dropWrap i {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #888;
}
.drop_asse.search .dropMenu {
  max-height: 240px;
}
.drop_asse.currency .dropWrap .dropInput ~ .dropToggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  line-height: 30px;
  border-style: solid;
  border-color: #b3b3b3;
  border-left-width: 1px;
  width: inherit;
}
.drop_asse.currency .dropWrap label.error {
  opacity: 0;
}
.drop_asse.currency .dropMenu {
  text-indent: 20px;
  max-height: 180px;
}
.drop_asse.currency .dropMenu li {
  border-style: solid;
  border-color: #b3b3b3;
  border-bottom-width: 1px;
}
.drop_asse .dropMenu {
  overflow-y: scroll;
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  margin-bottom: 15px;
  border-style: solid;
  border-color: #b3b3b3;
  border-top-width: 1px;
  text-indent: 10px;
  line-height: 30px;
  min-height: 30px;
  width: 100%;
}
.drop_asse .dropMenu li:hover {
  cursor: pointer;
  background-color: #9a7c2f;
}
.drop_asse .dropMenu.europe li:hover {
  background-color: #00aeef;
}

/* 貨幣+國家 End */
/* 下拉選單 End */
/* 表格 */
table {
  line-height: 2;
}
table tr {
  height: 40px;
  font-size: 1em;
}
table tr:first-child {
  background-color: #ebfcfb !important;
}
table tr:nth-child(even) {
  background-color: #fafafa;
}
table tr:nth-child(odd) {
  background-color: white;
}
table tr:not(:first-child) td {
  font-family: 'FuturaBTLight';
  border-style: solid;
  border-color: #c8c6c6;
  border-bottom-width: 1px;
}
table tr td {
  padding: 0 10px;
  vertical-align: middle;
}
table tr td:nth-child(odd) {
  margin: 0 10px;
}

/* 表格 End */
/* 背景圖 */
.cw_bg {
  background-position: bottom center;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

/* 背景圖 End */
/* base-css End */
/* 登入 */
.login {
  display: table;
  padding: 30px 0;
  background-color: #929292;
  min-height: 351px;
  width: 100%;
}
.login .loginBox {
  display: table-cell;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  height: 351px;
  width: 400px;
}
.login .loginBox .login_wrap {
  padding: 15px;
  background-color: #f2f2f2;
}
.login .loginBox .login_wrap *:not(.error) {
  margin: 15px auto;
}
.login .loginBox .login_wrap .login_term {
  text-align: center;
  font-size: 0.75em;
  line-height: 1.5;
}
.login .loginBox .login_wrap .login_term * {
  margin: 0;
  vertical-align: middle;
}
.login .loginBox .login_wrap .login_term a {
  display: inline-block;
  color: #00aeef;
}
.login .acct {
  width: 80%;
}
.login .acct label.error, .login .acct input {
  width: 100%;
}

/* 登入 End */
/* header */
.header {
  color: black;
  font-size: 0.75em;
}
.footer {
  color: white;
  background-color: #636262;
}
.header h2, .footer h2 {
  text-indent: -99999px;
  height: 0;
}
.header a {
  color: black;
}
.footer a {
  color: white;
}

.nav {
  position: relative;
}
.nav a {
  display: block;
}

.nav_top .nav_setting > li {
  float: left;
  padding: 0 10px;
}

.sub_lang, .sub_acct {
  display: none;
  position: absolute;
  top: 15px;
  z-index: 1;
  background-color: black;
}
.sub_lang li, .sub_acct li {
  float: none;
  padding: 5px;
}

.nav_acct {
  text-align: center;
}
.nav_acct .main_acct {
  padding: 0 3px;
}

/* header End */
/* footer */
.footer {
  overflow: hidden;
}
.footer .nav_logo {
  width: 100px;
  height: 40px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/logo_w.png');
}
.footer .nav_logo img {
  display: none;
  height: 32px;
}
.footer .nav_share {
  float: right;
}
.footer .nav_share, .footer .nav_sub {
  line-height: 32px;
}
.footer .nav_sub {
  float: right;
}
.footer .nav_sub .subnav_menu > li {
  float: left;
  padding: 0 15px;
}
.footer .copyright {
  display: block;
  color: #ac903e;
}

/* footer End */
/* warpper*/
.wrapper {
  min-height: 100%;
}

/* acct dropdown */
.wrap_nav_acct {
  display: block;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  font-size: 0.75em;
}
.wrap_nav_acct .nav_top {
  display: inline-block;
  margin: 0 auto;
}
.wrap_nav_acct .nav_top > li {
  float: left;
  margin: 0 5px;
}
.wrap_nav_acct .nav_top > li a {
  display: inline-block;
}
.wrap_nav_acct .nav_acct {
  text-align: left;
}
.wrap_nav_acct .nav_acct .main_acct {
  padding: 0 3px;
}
.wrap_nav_acct .nav_acct .sub_acct {
  position: absolute;
  top: 0;
  z-index: 2;
  padding-top: 20px;
}
.wrap_nav_acct .nav_acct .sub_acct li {
  background-color: #f2f2f2;
}

/* acct dropdown End */
/* tabs setting */
.tabsMenu {
}
.tabsMenu li {
  font-family: 'AvenirMedium';
  float: left;
  padding: 10px 0;
  margin-right: 1%;
  border-radius: 4px;
  background-color: #f9f0e0;
  line-height: 1.5;
  text-align: center;
  width: 24%;
}
.tabsMenu li:hover, .tabsMenu li:active, .tabsMenu li.current {
  cursor: pointer;
  background-color: #ee9e05;
}
.tabsMenu li:hover a, .tabsMenu li:active a, .tabsMenu li.current a {
  display: inline-block;
  color: #fff;
}
.tabsMenu li:last-child {
  border-right-width: 0;
}

.tabsWrap {
  padding: 15px;
}

.tabsTable {
  font-size: 1em;
}
.tabsTable h2 {
  padding: 15px 0;
}
.tabsTable table {
  text-align: center;
  width: 100%;
}

/* tabs setting End */
/* order form */
.bgGray, .orderForm.bgGray td {
  background-color: #848484;
}

/* order form End */
/* index */
.banner, .banner .content {
  background-color: #848484;
  color: white;
  text-align: center;
  height: 100vmin;
}
.banner .content {
  display: table;
  height: 100vmin;
}
.banner .content .main {
  display: table-cell;
  vertical-align: middle;
}
.banner .hgroup {
  padding: 10px 0;
  text-align: center;
  line-height: 1.5;
}
.banner .hgroup:after {
  display: block;
  content: '';
  margin: 10px auto;
  background-color: #fff;
  height: 1px;
  width: 100%;
}
.banner .btn_setting {
  display: inline-block;
}
.banner .btn_setting li {
  float: left;
}
.banner .btn_setting li:first-child {
  margin-right: 10px;
}

.describe {
  color: black;
}
.describe .des {
  overflow: hidden;
  line-height: 1.5;
}
.describe .des .des_img {
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 90px;
  width: 90px;
}
.describe .des .des_01 {
  background-image: url('../img/risk.png');
}
.describe .des .des_02 {
  background-image: url('../img/easy.png');
}
.describe .des .des_03 {
  background-image: url('../img/secure.png');
}
.describe .des dd {
  margin-left: 105px;
}
.describe .des .des_title {
  text-align: center;
  line-height: 2;
  font-size: 1.5em;
  font-family: 'AvenirMedium';
}
.describe .des .des_txt {
  font-size: 0.875em;
  font-family: 'AvenirLight';
  font-weight: 300;
  text-align: justify;
  width: 100%;
  margin: 0 auto;
}

.marketView .market.data {
  padding: 15px 0;
}
.marketView .market.data dt.font_12 h2:after {
  display: inline-block;
  content: ':';
}

.liveTable {
  margin-bottom: 25px;
}
.liveTable .live.data {
  font-size: 1em;
}
.liveTable .live.data h1 {
  display: inline-block;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 20px;
  background-color: #939597;
  color: #fff;
  line-height: 1.5;
}
.liveTable .live.data h1 ~ span {
  float: right;
  padding: 5px 0;
  line-height: 1.5;
  text-align: right;
  font-size: 1.03125em;
}
.liveTable .live.data table tr td {

}

.newsList {
  overflow: hidden;
}
.newsList .news.data {
  margin: 10px 0;
}
.newsList .news.data .news_list {
  height: 150px;
  padding: 25px;
  overflow-y: scroll;
}
.newsList .news.data .news_link {
  display: block;
}
.newsList .news.data .news_list .float_l h3 {
  font-family: 'AvenirMedium';
  font-size: 1.1em;
  color: #9b9b9b;
}
.newsList .news.data .news_link div h1 {
  font-family: 'AvenirMedium';
  font-size: 1em;
}
.newsList .news.data .news_link div span {
  font-family: 'AvenirLight';
}
.newsList .news.data .news_link h3 {
  font-size: 0.875em;
}
.newsList .news.data .news_link h1 {
  font-size: 1.25em;
}

/* index End */
/* trade */
.trade .tradeFee {
  padding-bottom: 15px;
}
.trade .tradeFee p {
  float: left;
  padding-right: 15px;
}
.trade .tradeCalc {
  text-align: center;
}
.trade .tradeUnit {
  display: inline-block;
  position: relative;
  min-height: 40px;
}
.trade .tradeUnit .borderInput, .drop_acct .dropdownTog {
  padding-right: 50px !important;
  border: 0.6px solid #9b9b9b;
  border-radius: 4px;
  text-align: right;
  width: 100%;
  color: #CCCCCC;
}
.trade .tradeUnit .borderInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CCCCCC;
}
.trade .tradeUnit .borderInput::-moz-placeholder { /* Firefox 19+ */
  color: #CCCCCC;
}
.trade .tradeUnit .borderInput:-ms-input-placeholder { /* IE 10+ */
  color: #CCCCCC;
}
.trade .tradeUnit .borderInput:-moz-placeholder { /* Firefox 18- */
  color: #CCCCCC;
}
.trade .tradeUnit .unit {
  position: absolute;
  right: 10px;
  margin: 6px auto;
  padding: 2px 3px;
  font-size: 1em;
}
.trade_tabs.tabsMenu {
  margin-bottom: 40px;
  font-family: 'AvenirMedium';
}
.trade .tabsTable {
  font-size: 1em;
}
.trade .tabsTable h2 {
  padding: 15px 0;
}
.trade .tabsTable table {
  background-color: #fff;
  width: 100%;
}
.trade .tabsTable table td:not(:first-child) {
  border-style: solid;
  border-color: #b3b3b3;
  border-left-width: 1px;
}

/* trade End */
/* assets, account form */
.assetsForm {
  overflow: hidden;
}
.assetsForm > li {
  position: relative;
  margin-top: 30px;
}
.assetsForm > li label {
  display: block;
  line-height: 2;
  text-align: left;
}
.assetsForm > li label ~ .btn {
  border-radius: 4px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
}
.assetsForm > li:not(.clear) label {
  padding-right: 5px;
}

/* assets, account form End */
/* 各頁共用設定 */
.assets .content, .account .content, .support .content {
  margin: 30px auto;
}
.assets .content > span, .account .content > span, .support .content > span {
  display: block;
  margin-top: 30px;
  text-align: left;
  line-height: 1.5;
}
.assets .main, .account .main, .support .main {
  padding: 15px;
  text-align: center;
}
.assets .tabsWrap, .account .tabsWrap, .support .tabsWrap {
  padding: 0;
  border-width: 0;
}
.assets .tabsTable table tr:first-child, .account .tabsTable table tr:first-child, .support .tabsTable table tr:first-child {
  background-color: white !important;
  font-size: 1.2em;
}

.account .tabsTable .title, .support .tabsTable .title {
  font-family: 'AvenirMedium';
  background-color: #f9f0e0;
  text-align: center;
  line-height: 2.5em;
  font-size: 1.3em;
}

/* 各頁共用設定 End */
/* assets */
.assets .assetsForm > li.clear {
  display: inline-block;
  text-align: left;
  width: 100%;
}
.assets .assetsForm > li.clear > * {
  float: none;
  width: 100%;
}
.assets .assetsDep .content {
  width: 75%;
}
.assets .assetsWith .tabsMenu li {
  width: 49%;
}
.assets .assetsWith .tabsWrap {
  margin: 0 auto;
  width: 75%;
}
.assets .orderMag a, .assets .orderMsg a {
  display: inline-block;
}

/* assets End */
/* account */
.account .assetsForm > li {
  width: 100%;
}
.account .assetsForm > li > * {
  width: 100%;
}
.account .assetsForm > li:last-child {
  padding-bottom: 10px;
}
.account .assetsForm > li:last-child label:not(.error) {
  float: left;
  width: 10%;
}
.account .assetsForm > li:last-child > *:not(label) {
  width: 90%;
}
.account .assetsForm > li:last-child label.error {
  top: 25px;
  margin-left: 10%;
}
.account .accountStatus .tabsTable table tr td, .account .accountStatus .tabsTable table tr:nth-child(2) td {
  border-style: solid;
  border-color: #CCCCCC;
  border-bottom-width: 1px;
}
.account .accountStatus .tabsTable table tr.current td, .account .accountStatus .tabsTable table tr:nth-child(2).current td {
  background-color: #baa367 !important;
}
.account .accountVerifi {
  font-family: 'AvenirMedium';
}
.account .accountVerifi .tabsTable .title {
  border-width: 0;
}
.account .accountVerifi .tabsTable .table span {
  display: block;
}
.account .accountVerifi .tabsTable .table .main {
  border: none;
  text-align: left;
}
.account .accountVerifi .tabsTable .table.verifiEmail .main {
  margin: 30px auto;
  line-height: 1.5;
  width: 75%;
}
.account .accountVerifi .tabsTable .table.verifiAcct .main {
  margin: 30px;
  text-align: center;
}
.account .accountVerifi .tabsTable .table.verifiAcct .main input[type="checkbox"] {
  margin: 5px;
  margin-left: 0;
}
.account .accountVerifi .tabsTable .table.verifiAcct .main input[type="checkbox"] ~ label {
  display: block;
}
.account .accountVerifi .tabsTable .table.verifiAcct dl {
  text-align: left;
}
.account .accountVerifi .tabsTable .table.verifiAcct dl.verifi_follow dd {
  width: 48%;
}
.account .accountVerifi .tabsTable .table.verifiAcct dl dt {
  line-height: 40px;
}
.account .accountVerifi .tabsTable .table.verifiAcct dl dd {
  margin-bottom: 30px;
  line-height: 1.5;
}
.account .accountVerifi .tabsTable .table.verifiAcct .clickUplaod {
  position: relative;
  margin: 30px auto;
  background-color: #fff;
  color: #ee9e05;
  border : 0.6px solid #ee9e05;
  font-size: 1.2em;
  font-family: 'FuturaBTBook';
  text-align: center;
  line-height: 10;
}
.account .accountVerifi .tabsTable .table.verifiAcct .clickUplaod input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  line-height: 10;
  width: 100%;
}
.account .accountSetting .tabsMenu li {
  width: 32%;
}
.account .accountSetting label.error {
  top: 50px;
}
.account .accountSetting .tabsWrap {
  margin-top: -30px;
  padding: 0 30px;
  line-height: 1.5;
}
.account .accountSetting .tabsWrap > li:last-child .assetsForm {
  position: relative;
}
.account .accountSetting .tabsWrap > li:last-child .assetsForm li.clear:not(:first-child) {
  margin-top: 0;
  padding: 10px 0;
  border-style: solid;
  border-color: #b3b3b3;
  border-bottom-width: 1px;
}
.account .accountSetting .tabsWrap > li:last-child .assetsForm li.clear:not(:last-child) > *:not(.dropMain) {
  line-height: 30px;
}
.account .accountSetting .tabsWrap > li:last-child .assetsForm li.clear:not(:last-child) label {
  display: inline-block;
  float: left;
  width: 70%;
}
.account .accountSetting .tabsWrap > li:last-child .assetsForm li.clear:last-child {
  border: 0;
}
.account .accountSetting .tabsWrap > li:last-child .assetsForm li.clear:last-child input {
  margin-bottom: 0;
}
.account .accountSetting .tabsWrap > li:last-child .assetsForm li.clear:last-child input.error {
  margin-bottom: 15px;
}
.account .accountSetting .tabsWrap > li:last-child .assetsForm li.clear:last-child input.error ~ label.error {
  top: 35px;
}
.account .accountSetting .tabsWrap > li:last-child .assetsForm li.clear > .float_r {
  display: block;
  vertical-align: middle;
  height: 30px;
  width: 22%;
}
.account .accountSetting .tabsWrap > li:last-child .assetsForm li.clear > .float_r > * {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  width: 45%;
}
.account .accountSetting .tabsWrap > li:last-child .alertPrice {
  margin-bottom: -10px;
  text-align: left;
}
.account .accountSetting .tabsWrap > li:last-child .alertPrice .drop_asse {
  position: relative;
  right: inherit;
}
.account .accountLog .tabsTable td {
  vertical-align: middle;
  line-height: 1.5;
}
.account .accountLog .tabsTable tr:first-child {
  background-color: #f9f0e0 !important;
}
.account .account_ex {
  display: inline-block;
  float: right;
  font-size: 0.75em;
  line-height: 20px;
}
.account_table > ul {
  margin-bottom: 60px;
}
.account_table

/* account End */
/* support */
.support .tabsTable {
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  border-bottom-width: 0;
}
.support .tabsTable .title {
  border-width: 0;
}
.support .tabsTable .table {
  border-style: solid;
  border-color: #b3b3b3;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.support .tabsTable .table .main {
  margin: 30px;
  border: none;
  text-align: left;
  line-height: 1.5;
}
.support .tabsTable .content {
  text-align: center;
}
.support .tabsTable .content form input, .support .tabsTable .content form textarea {
  display: block;
  width: 100%;
}
.support .tabsMenu li {
  width: 33.33%;
}
.support .lostCard .dropdown li:hover {
  background-color: #00aeef;
}

/* support End */
/* warpper End*/
/*
Mobile style
Version: v1
Last Updated: 2015/03/09
Author: Tzuchien Kao, oyan114@gmail.com
*/
/* base-css */
.triangle {
  display: inline-block;
  position: relative;
  height: 24px;
}
.triangle.green:after, .orderForm.green a.triangle:after {
  border-top-width: 0;
  border-bottom-color: #9dc13e;
}
.triangle.red:after, .orderForm.red a.triangle:after {
  border-bottom-width: 0;
  border-top-color: #ea4f71;
}
.triangle:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  border-style: solid;
  border-top-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  height: 0;
  width: 0;
}

/* 下拉選單 */
/* acct */
.dropdown .dropdownSel li a span:first-child {
  word-wrap: break-word;
  word-break: normal;
  line-height: 1.2;
  width: 67%;
}
.dropdown .dropdownSel li a span:last-child {
  width: 33%;
}

/* acct End */
/* 下拉選單 End */
/* 背景圖 */
.cw_bg {
  background-image: none;
}

/* 背景圖 End */
/* base-css End */
/* header */
.header {
  padding-top: 10px;
}

.nav {
  display: block;
}
.nav > li:not(.nav_bottom) {
  display: inline-block;
}
.nav .m_nav_menu {
  position: absolute;
  top: 6px;
  left: 10px;
  color: white;
}
.nav .nav_logo .logo {
  display: inline-block;
  margin-left: 34px;
  padding-bottom: 10px;
  line-height: 1;
}
.nav .nav_logo .logo img {
  padding: 7px 0;
  height: 32px;
}
.nav .nav_top {
  position: relative;
  float: right;
  padding-right: 10px;
  font-size: 0.75em;
}
.nav .nav_top .nav_setting > li {
  padding: 0;
  padding-left: 10px;
  line-height: 1;
}
.nav .nav_top .nav_setting .nav_login, .nav .nav_top .nav_setting .nav_signout {
  position: absolute;
  top: 22px;
  padding-left: 0;
}
.nav .nav_top .nav_setting .nav_login {
  right: 65px;
}
.nav .nav_top .nav_setting .nav_signout, .nav .nav_top .nav_setting .nav_signup {
  right: 10px;
}
.nav .nav_top .nav_setting .nav_signin {
  right: 60px;
}
.nav .nav_bottom .nav_menu {
  font-size: 1.125em;
}
.nav .nav_bottom .nav_menu li {
  display: block;
  padding: 0 10px;
  line-height: 2;
}
.nav .nav_bottom .nav_menu li:hover {
  background-color: #bca668;
  color: white;
}

.sub_lang {
  padding-top: 10px;
}

.sub_acct {
  background-color: transparent;
}

/* header End */
/* footer */
.footer {
  padding: 10px;
}
.footer .nav_co {
  display: block;
}
.footer .nav_logo {
  margin-bottom: 15px;
}
.footer .nav_logo a {
  display: block;
}
.footer .nav_share {
  float: right;
}
.footer .nav_share .shareIcon li {
  margin-left: 5px;
}
.footer .nav_sub {
  line-height: 32px;
  width: 100%;
}
.footer .nav_sub .subnav_menu > li {
  clear: both;
  float: none;
  padding: 5px 0;
}
.footer .nav_sub .subnav_menu > li a {
  display: block;
}
.footer .copyright {
  padding-bottom: 15px;
}

/* footer End */
/* 登入 */
.login .loginBox .login_wrap {
  margin: 0 auto;
  margin: 0 30px;
  padding: 30px;
}
.login .acct {
  min-height: 45px;
  width: 100%;
}

/* 登入 End */
.tabsTable table td {
  padding: 5px 0;
  vertical-align: middle;
  word-break: break-word;
  line-height: 1;
  min-height: 40px;
  height: inherit;
}

/* warpper*/
/* index */
.banner, .banner .content {
  height: 90vmin;
}
.banner .hgroup {
  margin: 0 15px;
}
.banner .hgroup h1 {
  font-size: 1.8em;
}
.banner .hgroup h2 {
  font-size: 0.9em;
}

.describe {
  color: black;
}
.describe .des {
  padding: 15px;
}
.describe .des .des_img {
  margin-right: 15px;
}

.marketView {
  margin-bottom: 15px;
}
.marketView .main {
  background-color: #f9f1e1;
}
.marketView .main .font_24 {
  font-family: 'AvenirMedium';
}
.marketView .market.data dt.font_12 {
  float: left;
  width: 30%;
  font-family: 'AvenirLight';
  color : #9b9b9b;
}
.marketView .market.data dd.font_32 {
  color: #4a4a4a;
  font-family: 'FuturaBTBook';
  font-size: 1.5em;
}
.liveTable .live.data:last-child h1 {
  display: none;
}
.liveTable .live.data h1 {
  margin-bottom: 10px;
}
.liveTable .live.data table {
  text-align: center;
  margin-bottom: 15px;
  line-height: 2.5em;
  width: 100%;
}
.liveTable .live.data table tr:first-child {
  font-size: 1.1em;
  font-family: 'AvenirBook';
}
.liveTable .live.data table tr td {
  padding: 0 10px;
}
.liveTable .live.data table tr td:nth-child(odd) {
  margin: 0 10px;
}

.newsList {
  margin: 0 10px 25px;
}
.newsList p {
  font-family: 'RalewayMedium';
  border-style: solid;
  border-color: #b3b3b3;
  border-bottom-width: 1px;
  line-height: 2;
  text-indent: 5px;
}
.newsList .news.data .news_list {
  border: solid 0.5px #CCCCCC;
  margin-bottom: 15px;
  line-height: 1.2;
}
.newsList .news.data .news_list .float_l {
  float: none;
  margin-bottom: 10px;
}

/* index End */
/* trade */
.trade .tradeUnit {
  width: 100%;
}
.trade .tradeUnit:after, .trade .tradeUnit ~ span:after {
  display: block;
  content: '';
  vertical-align: middle;
  height: 0;
  width: 0;
}
.trade .tradeUnit ~ span:after {
  padding-bottom: 15px;
}
.trade .tabsTable {
  padding-bottom: 15px;
  width: 100%;
}

/* trade End */
/* 各頁共用設定 */
.trade .tabsMenu li, .trade .tabsMenu li:hover, .trade .tabsMenu li:active, .trade .tabsMenu li.current, .support .tabsMenu li, .support .tabsMenu li:hover, .support .tabsMenu li:active, .support .tabsMenu li.current {
  display: table;
  height: 71px;
}
.trade .tabsMenu li a, .trade .tabsMenu li:hover a, .trade .tabsMenu li:active a, .trade .tabsMenu li.current a, .support .tabsMenu li a, .support .tabsMenu li:hover a, .support .tabsMenu li:active a, .support .tabsMenu li.current a {
  display: table-cell;
  vertical-align: middle;
}

.assets .content, .account .content, .supprot .content {
  width: 100%;
}
.assets label.error, .account label.error, .supprot label.error {
  position: absolute;
  top: 50px;
  width: 100%;
}

/* 各頁共用設定 End */
/* assets */
.assets .assetsForm > li:not(.clear) {
  display: inline-block;
  float: none;
  margin-top: 0;
  min-height: 90px;
  width: 100%;
}
.assets .assetsForm > li:not(.clear) label {
  width: 100%;
}
.assets .assetsForm > li:not(.clear) > * {
  float: none;
  width: 100%;
}
.assets .assetsForm > li.clear {
  margin-top: 0;
}
.assets .content > span {
  margin-bottom: 30px;
  border : 0.5px solid #ee9e05;
  background-color: #f9f0e0;
  border-radius: 4px;
  font-family: 'FuturaBTLight';
  padding: 10px;
}
.assets .tabsTable {
  width: inherit;
}
.assets .assetsOverview .tabsTable:first-child {
  padding-right: 0;
  padding-bottom: 30px;
}
.assets .assetsOverview .tabsTable:last-child {
  padding-left: 0;
}
.assets .assetsHistory .tabsTable td:nth-child(3), .assets .assetsHistory .tabsTable td:nth-child(4) {
  display: none;
  width: inherit;
}
.assets .assetsHistory .tabsTable td:nth-child(2), .assets .assetsHistory .tabsTable td:nth-child(5) {
  width: 27%;
}
.assets .assetsWith .tabsWrap, .assets .assetsDep .content {
  width: inherit;
}

/* assets End */
/* account */
.account .accountSetting .dropdown {
  padding: 5px 0;
}
.account .accountSetting .dropdown .dropInput {
  -webkit-border-radius: 16px;
  border-radius: 16px;
  width: 50%;
}
.account .accountVerifi .tabsTable .table.verifiEmail .main {
  margin: 15px;
  text-align: left;
  width: inherit;
}
.account .accountVerifi .tabsTable .table.verifiAcct .main {
  margin: 15px;
}
.account .accountVerifi .tabsTable .table.verifiAcct .clickUplaod {
  margin: 15px auto;
  padding: 15px;
  line-height: 2;
}
.account .accountVerifi .tabsTable .table.verifiAcct .btn {
  margin: 0 auto;
}

/* account End */
/* warpper End*/
@media screen and (max-width: 359px) {
  html, body {
    min-width: 360px;
  }
}
@media screen and (min-width: 360px) and (max-width: 580px) {
  html, body {
    min-width: 100%;
  }
}
@media screen and (max-width: 474px) {
  .nav .nav_top .nav_setting > li {
    padding-left: 5px;
  }
  .nav .nav_top .nav_setting > li:first-child {
    padding-left: 0;
  }

  .assets .assetsOverview .assets_table {
    width: inherit;
  }
}
/* for PC */
.nav .nav_bala, .nav .nav_acct, .nav .nav_signin, .nav .nav_signup {
  display: none;
}

.nav_bottom, .charting {
  display: none;
}

/* for PC End */
}
